@font-face {
    font-family: Black-ops;
    src: url(/font/Black\ Ops\ 2\ Font.ttf);
}

@font-face {
    font-family: Pirulen-Font;
    src: url(/font/pirulen\ rg.ttf);
}

@font-face {
    font-family: Oakes-Regular;
    src: url(/font/Oakes-Font/Oakes\ Grotesk\ Regular.ttf);
}

@font-face {
    font-family: kundli-Normal;
    src: url(/font/Kundli\ NormalA.ttf);
}

* {
    box-sizing: border-box;
    padding: 0rem;
    margin: 0rem;
}

html {
    font-size: 62.5%;
    /* 
    16px = 100%
    1px  =  6.25%
    10px = 62.5%
    
    */
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('img/bg-img.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
}

.section-1,
.section-2,
.section-3 {
    color: #ffffff;
    font-family: Black-ops;
    text-align: center;
    width: 100% auto;
    height: 110rem;
    padding: 5%;
    place-items: center;
}

.section-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, .3)), url('img/bg-img.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
}

.section-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('img/cai-fang-xZgwNbcLBWM-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
}

.section-2 .container {
    font-family: Oakes-Regular;
    padding: 3rem;
    margin: 3rem;
    font-size: 2rem;
    width: 50% auto;
    border: 0.5rem dashed #ff0000;
    /* none, hidden, dashed, dotted,
                                 solid,double, groove, ridge,  
                                 inset, outset, initial, inherit */
}

.section-2 .container p {
    text-align: center;
}

.section-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('img/cristina-gottardi-wndpWTiDuT0-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
}

.section-3 div {
    /* border: 0.5rem solid #ff0000; */
    padding: 1.5rem 2.5rem;
    box-shadow: 1rem 1rem 2rem #191919;
    width: 100% auto;
    max-height: 60rem;
    /* overflow-y: scroll; */
    display: flex;
    justify-content: space-between;
    border-radius: 1.5rem;
    background: #8080809a;
}

.section-3 div div {
    box-shadow: none;
    background: none;
    margin-top: 1rem;
    overflow: hidden;
    overflow-y: scroll;
    background: #a2a4a8;
    border-radius: 0rem;

}

.section-3 div table {
    font-size: 2rem;
    text-align: start;
    /* font-family: kundli-Normal; */
    border: 0.3rem solid #808080;
    background: #a2a4a8;

}

.section-3 div table thead {
    color: #000000;
}

.section-3 div table tbody tr td,
.section-3 div table thead tr th {
    padding: 1.5rem;
    color: #000000;
    background: whitesmoke;
}

.section-3 div table thead tr th {
    background-color: #d8d6d2;
}

.section-4 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('img/daniel-zacatenco-6rv0t2VjQR4-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
}

/* Navigation CSS Start */
.nav-bar {
    display: inline-flex;
    padding-top: 1rem;
    width: 100%;
}

.nav-bar .banner span {
    font-family: Black-ops;
    padding: 0.5rem 4rem 0.5rem 4rem;
    font-size: 2.4rem;
    color: #ffffff;
    text-shadow: 0.2rem 0.3rem 0.8rem #ff0000;
}

.nav-bar .navigaters {
    font-family: Pirulen-Font;
    width: 70%;
    /* border: 1px solid; */
    text-align: center;
    color: #ffffff;
    padding: 1rem 0.5rem;
}

.nav-bar .navigaters span {
    margin: 0rem 2rem;
    padding: 0rem 1rem;
    /* border: 1px solid #ff0000; */
}

.nav-bar .navigaters .btnName {
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
    font-weight: 700;
    text-shadow: 0.1rem 0.1rem 0.3rem #ff0000;
}

.nav-bar .navigaters .btnName:hover {
    text-shadow: 0.1rem 0.1rem 0.3rem #ff0000;
    font-weight: 700;
    border: 0.1rem solid aqua;
    border-radius: 1rem 0.1rem;
    background: rgba(0, 255, 255, 0.406);
}

.nav-bar .navigaters .btnActive {
    text-shadow: 0.1rem 0.1rem 0.3rem #ff0000;
    font-weight: 700;
    border: 0.1rem solid aqua;
    box-shadow: 0rem 0rem 0.7rem 0.1rem aqua;
    border-radius: 1rem 0.1rem;
    background: rgba(0, 255, 255, 0.406);
}

table {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
}

/* Navigation CSS End */

@media screen and (width > 0px) and (width <=320px) {
    html {
        font-size: 17%;
    }
}

@media screen and (width > 320px) and (width <=375px) {
    html {
        font-size: 20%;
    }
}

@media screen and (width > 375px) and (width <=425px) {
    html {
        font-size: 23%;
    }
}

@media screen and (width > 425px) and (width <=768px) {
    html {
        font-size: 40%;
    }
}

@media screen and (width > 768px) and (width <=1024px) {
    html {
        font-size: 45%;
    }
}

@media screen and (width > 1024px) and (width <=1440px) {
    html {
        font-size: 62.5%;
    }
}

@media screen and (width > 1440px) and (width <=2560px) {
    html {
        font-size: 62.5%;
    }
}